/* Documentation For Radium HTML5 Agency Template */


/***

====================================================================
	Fonts
====================================================================

***/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

@import url('font-awesome.css');

/***

====================================================================
	Reset
====================================================================

***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/***

====================================================================
	Global Settings
====================================================================

 ***/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #353535;
    line-height: 1.6em;
    font-weight: 500;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #1989fb;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 0px;
    background: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
    line-height: 1.6em;
}



/***

====================================================================
	Sidebar
====================================================================

****/

#sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 290px;
    height: 100%;
    padding: 0px 20px;
    /*border-right:2px solid #ffa800;*/
    z-index: 10;
}

#sidebar .mCSB_inside>.mCSB_container {
    margin-right: 12px !important;
}

#sidebar .mCS_no_scrollbar .mCSB_container {
    margin-right: 0px !important;
}

#sidebar .menu-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 0px 30px;
    background: #202020;
    transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -webkit-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;

    border-top: 4px solid #1989fb;
}

#sidebar .menu-box .logo {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
    padding: 30px 20px 10px;
}

#sidebar .menu-box .logo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

#sidebar .menu-box .sticky-menu {
    position: relative;
}

#sidebar .menu-box .sticky-menu>ul {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

#sidebar .menu-box .sticky-menu>ul>li {
    position: relative;
    display: block;
    /*padding:3px 0px;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    font-size: 20px;
    color: #ffffff;
    /*text-align:right;*/
}

#sidebar .menu-box .sticky-menu>ul>li>a {
    position: relative;
    display: block;
    padding: 15px 0px 15px 30px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 20px;
    /*text-transform:uppercase;*/
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

#sidebar .menu-box .sticky-menu>ul>li a .fa {
    position: absolute;
    right: -10px;
    top: 0px;
    width: 24px;
    text-align: right;
    color: #ffffff;
    opacity: 0;
    font-size: 12px;
    display: block;
    line-height: 34px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;

    display: none;
}

#sidebar .menu-box .sticky-menu>ul>li.current a .fa,
#sidebar .menu-box .sticky-menu>ul>li:hover a .fa {
    right: 6px;
    opacity: 1;
}

#sidebar .menu-box .sticky-menu>ul>li>a:hover,
#sidebar .menu-box .sticky-menu>ul>li.current>a,
#sidebar .menu-box .sticky-menu>ul>li.current-menu-item>a {
    color: #fff;
    background: #1989fb;
}

#sidebar .copyright {
    position: fixed;
    left: 0px;
    bottom: 5px;
    width: 250px;
    height: 30px;
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
}

/***

====================================================================
	Content Section
====================================================================

****/



#content-section {
    position: relative;
    padding: 0px 0px 30px 290px;
    width: 100%;
    z-index: 5;
}

#content-section .section {
    position: relative;
    min-height: 200px;
    margin-bottom: 50px;
    padding: 0 60px;
}

#content-section .sec-title {
    position: relative;
    padding: 19px 20px 19px 30px;
    background: #1989fb;
    border-radius: 5px;
    color: #fff;
}

#content-section .sec-title h2 {
    position: relative;
    font-size: 24px;
    font-family: 'Poppins';
    text-transform: capitalize;
    font-weight: 600;
}

#content-section .sec-title h3 {
    position: relative;
    font-size: 22px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
}

#content-section .sec-title .icon {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 30px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;

    display: none;
}

#content-section .separator {
    position: relative;
    margin: 20px 0px;
    height: 1px;
}

#content-section .separator:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
    background: -moz-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
    background: -webkit-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
    background: -ms-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
    background: -o-linear-gradient(left, #d0d0d0, #f1f1f1, #ffffff);
}

#content-section .sec-content {
    position: relative;
    padding: 10px 0px;
}

.introduction .sec-content h2 {
    font-size: 35px;
    /*text-transform:uppercase;*/
    margin-bottom: 10px;
    font-weight: 600;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    color: #242424;
}

.introduction .sec-content h3 {
    font-size: 18px;
    /*text-transform:capitalize;*/
    font-weight: 500;
    color: #242424;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.html-structure .sec-content h3,
.css-structure .sec-content h3,
.javascript .sec-content h3,
.sources-credits .sec-content h3,
.contact-form .sec-content h3,
.support .sec-content h3,
.map-settings .sec-content h3,
.count-timer .sec-content h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.4em;
}

.html-structure code {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    padding: 30px 20px;
    background: #f1f1f1;
    height: auto;
    display: block;
}

.javascript ul li {
    list-style: none;
}

.sources-credits p {
    margin-bottom: 2px;
}

#content-section img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#content-section .image-box {
    position: relative;
    padding: 0px;
    margin: 30px 0px;
}


.sec-content h3.content-title {
    font-size: 25px;
    font-family: 'Poppins';
    color: #242424;
}

.sec-content .checkbox,
.sec-content .checkbox li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sec-content .checkbox li:before {
    content: '\f00c';
    font-family: "FontAwesome";
    color: green;
    font-size: 15px;
    margin-right: 15px;
}

.sec-content .checkbox li {
    font-size: 18px;
    line-height: 25px;
    color: #242424;
}

.sec-content .checkbox li+li {
    margin-top: 7px;
}

/* trial */

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(17, 17, 16, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--secondary);
    border: 15px solid var(--secondary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* enroll button */

@media (max-width: 768px) {
    .eduact-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .eduact-btn {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
}

/* crm link */
.job-card {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.job-header {
    font-size: 18px;
    font-weight: bold;
}
.job-subheader {
    color: #888;
}
.job-location {
    margin-top: 10px;
}
.job-meta {
    font-size: 14px;
    color: #777;
}
.job-meta span {
    margin-right: 15px;
}
.rating-star {
    color: #f0ad4e;
}
.rating-text {
    margin-left: 5px;
    color: #777;
}
.apply-buttons {
    text-align: right;
}
.apply-buttons a {
    margin-left: 10px;
}
.company-logo img {
    max-width: 50px;
}
.posted-info {
    margin-top: 10px;
    color: #777;
}
/* end */